@import "tailwindcss";


html,
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
/*   padding-left: 8px;
  padding-right: 8px; */
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@layer utilities {
  @media (max-width:400px) {
    .small-text {
      font-size: 1rem;
    }

    .small-text2 {
      font-size: 1.5rem;
      margin-left: 1rem;
    }

  }

  @media (max-width: 360px) {
    .aboutImage {
      max-height: 18rem;
    }

    .qualityText {
      text-align: center;
      font-size: 0.8rem;
    }

    .missionVision {
      font-size: 3rem;
    }

    .contactText {
      width: 70%;
    }

    .contactdet {
      font-size: 1.2rem;
    }

    .footerlink {
      display: flex;
      gap: 1.3rem;
      
    }

    .footertext {
      font-size: 1.1rem;
    }
  }

}
